/* Custom Stylesheet */

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 /* Optional: Makes the sample page fill the window. */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

.nav-wrappper{
  height: 300px;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 700px) {
  #index-banner .section {
    top: 0;
  }

  .section{
    position: relative;
    margin-top: 600px;
  }

  #map{
    margin: 50px 20px;
    height: 40%;
    width: 90%;
    border: solid #C0ECAE 3px;
  }
  
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
.header{
  color: #fff;
}

.logo{
  height: 125px;
  width: 125px;
  float: left;


}

/* .section{
  position: absolute;
  width: 100%
} */
       
#map {
  /* margin: 50px 20px;*/
  height: 60%; 
  width: 100%;
  z-index: 10;
  margin: 20% 0px 20px 0px;
  border: solid #C0ECAE 3px; 
}

.lead{
  margin: 35px 20px;
  width: 35%;
  height: 300px;
  position: relative;
  /* float: right; */
}

.lead input[type="text"]{
  width: 100%;
  height: 50px;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
  resize: vertical;
  background: #F5F5F5; 
  
}

.lead input[type="text"]:focus{
  border: 3px solid rgb(199, 194, 194);
}

label{
font-size: 20px;
color: black
}

.form-control{
width: 50%;
float: left;
margin: 10px 0px;
}

.btn{
margin-top: 20px;
margin-bottom: 40px;
padding: 10px;
}

.data-display{
  background: rgba(223, 173, 173, 0.295);
  border: solid #C0ECAE 3px; 
  border-radius: 10px;
  height: 400px;
  width: 50%;
  margin: 0px 30px 0px 0px;
  position: absolute;
  right: 80px;
  top: 60%;
  padding: 20px;
  overflow: scroll;
}

.white{
  height: 110px;
}



