/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

.empty {
  border: 1px;
  height: 400px;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#map {
  height: 60%;
  width: 60%;
  border-style: solid;
  border: width 2px;
  border-color: black;
  padding: 2px;
}

#map-frame {
  width: 60%;
  height: 60%;
  border-color: black;
  border-width: 2px;
  position: absolute;
  top: 58.5%;
}
/* Optional: Makes the sample page fill the window. */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.user-login {
  width: 50%;
  background-color: #cccccc;
  margin-top: 10%;
  margin-left: 10%;
}

#data-wrapper {
  position: relative;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 75%;
  overflow-y: scroll;
  border: 1px solid #777777;
  border-radius: 5px;
  margin-top: 4%;
}

.scrollspy {
  margin: 10px;
}

#list-anchor {
  margin: 10px;
}

#list-display {
  width: 70%;
}
.lead{
  border-style: solid;
  border-width: 2px;
  border-color: black;
  width: 36%;
  height: 60%;
  position: absolute;
  right: 2.5%;
  top: 58.5%;
  padding:2%;
}